extends layout.pug

block content
	section(class="section")
		.container
			h1(class="title") HomePage con Bulma!
			p Ci possiamo provare, questa è la homepage!
			a(href="/game") Pagina gioco
block scripts