doctype html
html(lang='en')
	head
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/styles.min.css")
	body
		block content

		block scripts